@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.navbar-brand h1{
    font-family:Abril Fatface ;
}

#sectionrow{
    width: 100%;
}

#searchsection{   
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
   
}
.searchbar{
    width: 35%;
    padding: 10px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0px 8px 20px #00000036;
    outline: none;
}
.input-group-text{
    border-top-right-radius: 0 !important; 
    border-bottom-right-radius: 0 !important;
    border: 2px solid black !important;
}
.bi-search{
    font-size: 20px;
    font-weight: 720;
}